<div class="header">
<div class="header-container container">
    <div class="img">
        <img src="image.png" alt="Logo-Image">
    </div>
        <!-- <div class="header-text">
        <h1>Silver Tatch Pensions</h1>
        <h3>{{"Building Wealth On Your Terms" | uppercase}}</h3>
        </div> -->
<div class="header-links container" style="flex-direction: row;">
    <input type="search" name="search" id="search" placeholder="search">
    <button><a href="#" class="btn">my-account</a></button> 
</div>
</div> 

<app-navbar></app-navbar>
</div>
