/* You can add global styles to this file, and also import other style files */
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
*{
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}