.navbar{
    background-color: aqua;
    
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 4px solid blue;
    padding-top: 4px;
}
a{
    padding: 8px;
}

a:hover{
    color: #ffffff;
    background-color: blue;
    border-radius: 4px 4px 0px 0px;
}
// a:active{
//     color: red;
//     background-color: blue;
// }
