.navbar{
    background-color: #D7EDF8;
    
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 4px solid #1079CA;
    padding-top: 4px;
    overflow: scroll;
    scrollbar-width: none;
}
a{
    padding: 8px;
}

.active{
    color: #ffffff;
    background-color: #1079CA;
    border-radius: 4px 4px 0px 0px;
}
// a:active{
//     color: red;
//     background-color: blue;
// }
